/* Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #abb0d4;
}

/* Header */
header {
   background: linear-gradient(100deg, #6603ad, #033b7c);
  color: white;
  padding: 20px;
  text-align: center;
  margin: 15px;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Layout */
main {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Card Style */
.calculator, .result {
  background: rgb(211, 187, 212);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Form Fields */
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #51028a, #033b7c);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

/* Result */
.result h2 {
  margin-top: 0;
}

.result p {
  margin: 6px 0;
}
