/* shared */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    padding-top: 30px;
}

.error {
    margin-bottom: 10px;
    color: red;
    font-size: .9rem;
}

/* back btn */

.back-container {
    margin-left: 6rem;
}

.back-btn {
    background: #3784ff;
    color: white;
    transition: all .3s;
    padding: .5rem 1rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.back-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 15px #468dff;
}

/* Banner */

.banner {
    background: linear-gradient(to right, #1F3D8E 0%, #397DEE 100%);
    color: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px #193d7c63;
    margin-bottom: 30px;
    margin-top: 25px;
    text-align: center;

}

.banner h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
}

.banner p {
    font-size: 1.1rem;
    margin: 20px;

}


/* filter section */

.filter-section {
    background: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.filters-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.filter-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filter-fields label {
    font-weight: 600;
    color: #46556d;
    font-size: 1rem;
}


.filter-input {
    padding: 10px 8px;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid #e2e4e9;
}

.filter-input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 1px 3px #3c80ee1a;
}


.action-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    gap: 8px;
    font-size: 1rem;
}

.apply-btn {
    background: linear-gradient(135deg, #3784ff 0%, #2554a1 100%);
    color: white;
    transition: all 0.3s;
}

.btn-reset {
    background: white;
    color: #3b82f6;
    border: 2px solid #3b82f6;
    transition: all 0.3s;
}
.btn-reset:hover {
    background: #3b82f6;
    color: white;
}

.apply-btn:hover {
    box-shadow: 0 5px 15px #468dff;
    transform: translateY(-2px);
}



/* Table/history */


.activity-table {
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 30px;
}

.activity-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem;
    background: linear-gradient(to right, #1F3D8E 0%, #397DEE 100%);
}

.activity-heading h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}



.activity-count {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    background: rgb(255, 255, 255, 0.4);
    font-size: .9rem;
}

.table-data {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: rgb(245, 245, 247);
    color: #4b5d7a;
    font-size: .9rem;
    font-weight: 600;
    text-align: left;
    padding: 16px 20px;
    border-bottom: 1px solid rgb(199, 199, 199);
}

td {
    padding: 16px;
    border-bottom: 1px solid rgb(231, 231, 231);
}


/* Pagination */
.pagination-container {
    background: rgb(245, 245, 247);
    padding: 1.4rem 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-info {
    color: #828ea0;
    font-size: 0.9rem;
    font-weight: 600;
}

.pagination-controls {
    display: flex;
    gap: 8px;
}

.page-btn {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid rgb(199, 199, 199);
    background: white;
}

.page-btn:hover {
    cursor: pointer;
    background: #3b82f6;
    border-color: #3b82f6;
}